@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #edf0f1;
}
li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  list-style: none;
  text-decoration: none;
  color: #edf0f1;
  cursor: pointer;
}
.logo {
  cursor: pointer;
  border-radius: 50%;
  margin-right: auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #24252a;
}
.ul-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.ul-list li {
  margin: 0.77rem;
}
.ul-list li a {
  transition-property: color;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  list-style: none;
}
.ul-list li a:hover {
  color: #0088a9;
}
.btn {
  padding: 0.5rem 1rem;
  border: none;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  border-radius: 50000px;
  background-color: rgba(0, 136, 169, 1);
  margin: 0 0 0 1rem;
}
.btn:hover {
  background-color: rgba(0, 136, 169, 0.8);
  background-color: #24252a;
  border: 1px solid #edf0f1;
}
